.container {
  margin-top: 1rem !important;
}

/* @media only screen and (max-width: 870px) {
  .container {
    margin-top: 1rem !important;
    display: flex;
    max-width: 50% !important;
  }
} */

@media only screen and (max-width: 770px) {
  .container {
    margin-top: 1rem !important;
  }
}
